Package: zyphor-display-mac-v2
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Depends: bash, compiz, compiz-plugins, compiz-plugins-extra, compizconfig-settings-manager
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS display mac
