Package: zyphor-updates
Version: 1.1.0
Section: utils
Priority: optional
Architecture: all
Depends: fastfetch-config-1, grub-screensaver-1, zyphor-cli, zyphor-command-center, zyphor-wallpapers-nature
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Updates
