Package: zyphor-updates
Version: 1.4.0
Section: utils
Priority: optional
Architecture: all
Depends: zyphor-os-release,
 fastfetch-config-1,
 grub-screensaver-1,
 zyphor-display-mac-v1,
 guvcview,
 libreoffice,
 vlc,
 flameshot,
 drawing,
 simplescreenrecorder,
 ufw
Maintainer: Mark Jason P. Espelita
Description: Zyphor OS Updates
